examples/schemas/FinancialMessage_Common_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:fm="http://example.com/financial" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/financial" elementFormDefault="qualified" attributeFormDefault="unqualified" version="001.0.0">
	<xs:annotation>
		<xs:documentation>Common types included by FinancialMessage_Definitions.
Demonstrates: xs:include of a same-namespace schema, custom namespace attributes (fm:version),
pattern facets with XML character references (&#x20;), and unescaped > in documentation text.
		</xs:documentation>
	</xs:annotation>
	<!--== SIMPLE TYPES ==-->
	<xs:simpleType name="CurrencyCodeType" fm:version="001.000.000">
		<xs:annotation>
			<xs:documentation>ISO 4217 three-letter currency code (e.g. USD, EUR, GBP).
Validation rule: code length must be exactly 3 uppercase letters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VersionStringType" fm:version="001.000.000">
		<xs:annotation>
			<xs:documentation>Schema component version in the form MAJOR.MINOR.PATCH (e.g. 1.0.0).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdentifierTokenType" fm:version="001.000.000">
		<xs:annotation>
			<xs:documentation>A token that allows letters, digits, hyphens, and interior spaces.
Pattern uses &#x20; (U+0020) to represent the allowed space character explicitly.
Maximum length of 64 characters; must contain at least one character.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9&#x20;\-]+"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegulatoryStatusType" fm:version="001.000.000">
		<xs:annotation>
			<xs:documentation>Lifecycle status of a financial instrument or counterparty under regulatory oversight.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE"/>
			<xs:enumeration value="PENDING"/>
			<xs:enumeration value="SUSPENDED"/>
			<xs:enumeration value="CLOSED"/>
		</xs:restriction>
	</xs:simpleType>
	<!--== ATTRIBUTE GROUPS ==-->
	<xs:attributeGroup name="VersionedAttrs" fm:version="001.000.000">
		<xs:annotation>
			<xs:documentation>Standard versioning annotation attached to any schema component.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="version" type="fm:VersionStringType" use="optional"/>
	</xs:attributeGroup>
	<!--== COMPLEX TYPES ==-->
	<xs:complexType name="ComplianceMarkingType" fm:version="001.000.000">
		<xs:annotation>
			<xs:documentation>Regulatory and compliance classification attached to every message header.
Receiving systems must verify that RegulationCode > their minimum compliance threshold
before processing the payload.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegulationCode" type="xs:string"/>
			<xs:element name="JurisdictionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Caveat" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MonetaryAmountType" fm:version="001.000.000">
		<xs:annotation>
			<xs:documentation>A monetary value paired with an ISO 4217 currency code.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amount" type="xs:decimal"/>
			<xs:element name="Currency" type="fm:CurrencyCodeType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
